@use "sass:math";
@import "/src/UI/_CommonStyles/mixins";

.page.simple.contact {
  @include responsive-images(lg);

  > main {
    @include vw(lg) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 5em;
    }
  }

  > img.mobile {
    margin-top: math.div(-$main-block-margin, 2);
  }
}
