@import "/src/UI/_CommonStyles/mixins";

.page.landing > main {
  margin-block: 0;

  $side-padding-text-block: 8vw;

  .text-block-and-img {
    display: flex;
    flex-direction: column;
    gap: 2em;

    @include vw(lg) {
      gap: 5em;
      display: grid;
      grid-template-columns: 1fr 1fr;

      > :first-child {
        padding-left: $side-padding-text-block;

        @include vw(lg) {
          padding-top: 12%;
        }
      }
    }
  }

  > section {
    padding-block: 5em;

    padding-inline: $min-content-side-margin;
    @include vw(lg) {
      padding-inline: 0;
    }

    &:nth-of-type(even) {
      background-color: $color-offset-bg;
    }

    header {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1.5em;

      margin-bottom: 2em;

      > * {
        text-align: center;
      }

      > span {
        color: $color-text-brand;
        font-weight: 600;
      }

      > p {
        max-width: 768px;
      }
    }

    &#hero,
    &#product-oversight {
      padding-bottom: 0;
    }

    &#hero {
      padding-top: 8em;

      > div {
        text-align: center;

        @include vw(lg) {
          text-align: left;
        }

        > h1 {
          margin-bottom: 0.5em;
        }

        > p {
          margin-bottom: 1em;
        }

        > a {
          margin-top: 5%;
        }
      }
    }

    &#why > .container {
      container-type: inline-size;

      @include vw(sm) {
        padding-inline: 0;
      }

      > ul.styleless {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1.5em;

        > li {
          max-width: 300px;

          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 15px;

          > * {
            text-align: center;
          }

          > h3 {
            font-size: $font-size-sm;
          }

          > p {
            font-size: $font-size-xxs;
          }
        }
      }
    }

    &#product-modules > ul > li {
      display: flex;
      flex-direction: column;
      gap: 1.5em;

      &:not(:last-child) {
        margin-bottom: 5em;
      }

      > div {
        display: flex;
        flex-direction: column;
        gap: 1em;

        > p {
          margin-bottom: 0;
        }

        > ul {
          padding-left: 0.5em;

          > li {
            display: flex;
            align-items: center;
            gap: 1em;

            // stylelint-disable-next-line max-nesting-depth
            &:not(:last-child) {
              margin-bottom: 1em;
            }

            // stylelint-disable-next-line max-nesting-depth
            > svg {
              color: $color-icon-brand;
              @include img-size(24px);
            }
          }
        }
      }

      @include vw(lg) {
        gap: 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;

        &:nth-child(2) {
          > img {
            order: -1;
          }
        }

        > div {
          padding-inline: $side-padding-text-block;
        }
      }
    }

    &#product-overview > div {
      display: flex;
      flex-direction: column;
      gap: 1.5em;

      @include vw(lg) {
        gap: 5em;
        display: grid;
        grid-template-columns: 1fr 1fr;
      }

      > ul > li {
        display: flex;
        gap: 1em;

        > .icon-with-square-border {
          flex-shrink: 0;
        }

        h3 {
          font-size: #{$font-size-text-xl}px;
          margin-block: 0.7em 0.5em;
        }
      }
    }

    &#pricing > ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 1.5em;

      > li {
        border: 1px solid $color-border;
        border-radius: $border-radius-xl;
        padding: 2em 1.5em 1.5em;
        @include drop-shadow(sm);

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5em;

        > span {
          color: $color-heading;
          font-size: $font-size-xl;
          font-weight: 600;
        }

        > ul {
           width: 300px;

          display: flex;
          flex-direction: column;
          gap: 0.5em;

          // stylelint-disable-next-line max-nesting-depth
          > li {
            flex-grow: 1;

            display: flex;
            align-items: center;
            gap: 0.5em;

            // stylelint-disable-next-line max-nesting-depth
            > .icon-with-bg-color {
              flex-shrink: 0;
            }
          }
        }
      }
    }
  }
}
