@import "/src/UI/_CommonStyles/mixins";

.app-header-wrapper {
  > header {
    position: fixed;
    z-index: $z-index-header;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    height: $header-height;
    background-color: $color-header-bg;
    padding-inline: 8vw;

    > a {
      display: flex;
      align-items: center;
      gap: 0.5em;

      > img {
        @include img-size(24px);
      }

      > span {
        font-size: #{$font-size-display-xs}px;
        font-weight: 600;
        color: $color-heading;
      }
    }

    > h2 {
      font-weight: 400;
      font-size: $font-size-md;
    }

    > nav {
      > button > span,
      > a {
        @include header-footer-text;
      }
    }

    > .button.icon-only {
      margin-right: -6px;

      > svg {
        @include img-size(24px);
      }
    }

    &.desktop-or-landing {
      @include drop-shadow(md);
      transition: top #{$animation-duration-xs}s linear,
      background-color #{$animation-duration-md}s ease;
    }

    &.mobile {
      padding-inline: $min-content-side-margin;
    }

    &.menu-open {
      padding-right: calc($min-content-side-margin + var(--scrollbar-width));
    }
  }

  > ul.styleless.menu {
    position: fixed;
    font-size: $font-size-sm;

    top: $header-height - 5px;
    left: 0;
    width: 100%;

    border-radius: 0;
    @include drop-shadow;

    > li {
      padding-inline: 1.9em;
    }
  }
}
